{% extends 'base.html' %} {% load static %} {% block pageContent %}
<section class="py-4">
    <div class="container">
        <h3 class="fw-bolder text-center">List of Books</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="20%">
        </center>
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="text-end mb-3">
                        <a href="{% url 'create-book' %}" class="btn btn-primary btn-sm" id="create_new">
                            <i class="fa fa-plus"></i> Add New
                        </a>
                    </div>
                    <table class="table table-bordered table-striped" id="book-tbl">
                        <colgroup>
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">

                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">Title</th>
                                <th class="text-center">Author</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Publication Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                            <tr>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author}}</td>
                                <td>
                                    <div class="lh-1">
                                        <div>{{ book.category_id.name}}</div>
                                    </div>
                                </td>
                                <td>{{ book.publication_date|date:"Y-m-d"}}</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle"
                                            type="button" id="abtn{{book.pk}}" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="abtn{{book.pk}}">
                                            <li><a class="dropdown-item view-data-book" href="javascript:void(0)"
                                                    data-url="{% url 'view-book-pk' book.pk %}"><i
                                                        class="fa fa-eye text-dark"></i> View</a></li>
                                            <li><a class="dropdown-item edit-data" href="javascript:void(0)"
                                                    data-url="{% url 'edit-book' book.pk %}"><i
                                                        class="fa fa-edit text-primary"></i> Edit</a></li>
                                            <li><a class="dropdown-item delete-data-book" href="javascript:void(0)"
                                                    data-url="{% url 'delete-book' book.pk %}"><i
                                                        class="fa fa-trash text-danger"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock pageContent %} {% block ScriptBlock %}
{% endblock ScriptBlock %}