{% extends 'base.html' %} {% load static %} {% block pageContent %}

<section class="py-4">
    <div class="container">
        <h3 class="fw-bolder text-center">List of Categories</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="25%">
        </center>
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="container-fluid container-fluid d-flex justify-content-end m-2">
                        <a href="{% url 'create-category' %}" class="btn btn-primary btn-sm" id="create_new">
                            <i class="fa fa-plus"></i> Add New
                        </a>
                    </div>
                    <table class="table table-bordered table-striped" id="category-tbl">
                        <colcategory>
                            <col width="33%">
                            <col width="33%">
                            <col width="33%">

                        </colcategory>
                        <thead>
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cat in category %}
                            <tr>
                                <td>{{ cat.name}}</td>
                                <td>
                                    <p class="m-0 truncate-1">{{ cat.description|safe }}</p>
                                </td>

                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle"
                                            type="button" id="abtn{{cat.pk}}" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="abtn{{cat.pk}}">
                                            <li><a class="dropdown-item view-data-category" href="javascript:void(0)"
                                                    data-url="{% url 'view-category-pk' cat.pk %}"><i
                                                        class="fa fa-eye text-dark"></i> View</a></li>
                                            <li><a class="dropdown-item edit-data" href="javascript:void(0)"
                                                    data-url="{% url 'edit-category' cat.pk %}"><i
                                                        class="fa fa-edit text-primary"></i> Edit</a></li>
                                            <li><a class="dropdown-item delete-data-category" href="javascript:void(0)"
                                                    data-url="{% url 'delete-category' cat.pk %}"><i
                                                        class="fa fa-trash text-danger"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock pageContent %} {% block ScriptBlock %}
{% endblock ScriptBlock %}