{% load static %}
<div class="container-fluid">
    {% if create == 'true' %}
        <form method="POST" id="category-form" action="{% url 'save-category' %}">
    {% else %}
        <form method="POST" id="category-form" action="update_category/{{category.id}}">
    {% endif %}
    
        {% csrf_token %}  

        <input type="hidden" name="id" value="{{category.id}}">
        <div class="mb-3">
            <label for="name" class="control-label">Name</label>
            <input type="text" id="name" name="name" class="form-control form-control-sm rounded-0" value="{{category.name}}" required>
            {{ form.name.errors }}
        </div>
        <div class="mb-3">
            <label for="description" class="control-label">Description</label>
            <textarea rows="3" id="description" name="description" class="form-control form-control-sm rounded-0" required>{{category.description}}</textarea>
            {{ form.description.errors }}
        </div>
    </form>
</div>