{% load static %}
<style>
    #book-img {
        max-width: 100%;
        max-height: 10em;
        object-fit: scale-down;
        object-position: center center;
    }
</style>
<div class="container-fluid">
    {% if create == 'true' %}
    <form method="POST" id="book-form" action="{% url 'save-book' %}">
{% else %}
    <form method="POST" id="book-form" action="update_books/{{book.id}}">
{% endif %}

    {% csrf_token %}  
    
        <input type="hidden" name="id" value="{{book.id}}">
        <div class="mb-3">
            <label for="category" class="control-label">Category</label>
            
            <select type="text" id="category_id" name="category_id" class="form-select form-select-sm rounded-0" required>
                <option disabled selected value="">Select a category</option>
                {% for category in categories %}
                    <option value="{{ category.id}}" {% if book.category_id and book.category_id == category %}selected{% endif %}>
                         {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="title" class="control-label">Title</label>
            <input type="text" id="title" name="title" class="form-control form-control-sm rounded-0" value="{{book.title}}" required>
        </div>
       
        <div class="mb-3">
            <label for="author" class="control-label">Author/s</label>
            <textarea rows="3" id="author" name="author" class="form-control form-control-sm rounded-0" required>{{book.author}}</textarea>
        </div>
        
        <div class="mb-3">
            <label for="date_published" class="control-label">Date Published</label>
            <input type="date" id="publication_date" name="publication_date" class="form-control form-control-sm rounded-0" value="{{book.publication_date|date:'Y-m-d'}}" required>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#uni_modal').on('shown.bs.modal', function() {
            $('#sub_category').select2({
                width: "100%",
                placeholder: "Please Select Category Here",
                dropdownParent: $('#uni_modal'),
                selectionCssClass: "form-control form-control-sm rounded-0"
            })
        })
    })
</script>